#navbar{background-color: lightgray;}
#main{background-color: gray;
flex: grow 1;}
#footer{background-color: lightgray;}
body{margin: 0px;
min-height: 100vh; 
display: flex;
flex-direction: column;
text-align: center;
}
/* struktur først */
image{max-width: 100%;}